.AboutUsHeader {
  z-index: 1;
  margin-top: 5rem;
  position: relative;
  display: block;
  background-repeat: no-repeat;
  background-size: auto;
  width: 90%;
  margin-left: 2%;
  border-radius: 25px;
  background: url(../Assets/AboutUsHeader.png) lightgray 50% / cover no-repeat;
  box-shadow: 0px 4px 24.9px 0px rgba(0, 0, 0, 0.5);
}
.AboutUsHeader .link {
  color: #e2e2e2;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding-top: 60px;
  padding-left: 3%;
}

.heading-about {
  color: #e2e2e2;
  font-family: Joane;
  padding: 1rem 0rem;
  font-size: 45px;
  text-align: center;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.pages-content-div {
  margin-left: 20%;
  width: 74%;
  padding: 3rem;
  padding-left: 8%;
  background-color: #fff;
}
.pages-content-div span {
  font-size: xx-large;
}
.pages-content-div sp {
  font-size: x-large;
}
.pages-content-div bold {
  font-weight: 600;
}
.pages-content-div italic {
  font-style: italic;
}
.pages-content-div ul {
  margin-left: 2rem;
}
.pages-content-div ul {
  list-style-type: disc;
}
.expandedTable {
  display: none;
}
@media (max-width: 1024px) {
  .heading-about {
    font-size: 39px;
  }
}
@media (max-width: 768px) {
  .pages-content-div {
    margin-left: 0%;
    margin-right: 0%;
    width: 100%;
    padding: 1rem;
  }
  .AboutUsHeader .link {
    font-size: 10px;
  }
  .AboutUsHeader {
    margin-top: 3rem;
    width: 95%;
    margin-left: 2.5%;
  }
  .heading-about {
    font-size: 25px;
  }
}
