.sidebar-main-div-global {
  position: fixed;
  top: 35vh;
  width: 20%;
  z-index: 9;
  max-height: 55vh;
  background-color: #fff;
  margin-left: 4%;
  padding: 2rem 0rem 2rem 0rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  border-radius: 25px;
  box-shadow: 0px 4px 23.6px 0px rgba(0, 0, 0, 0.5);
}
.sidebar-main-div-global vl::-webkit-scrollbar {
  width: 5px;
  --tw-bg-opacity: 1;
}

.sidebar-main-div-global vl::-webkit-scrollbar-thumb {
  background-color: #019989; /* color of the scroll thumb */
  border-radius: 10px; /* roundness of the scroll thumb */
  /* creates padding around scroll thumb */
}
.sidebar-main-div-global vl {
  list-style-type: none;
  overflow-y: auto;
  padding-right: 2rem;
  padding-left: 2rem;
}
.sidebar-main-div-global ul {
  display: block;
  margin-left: 5%;
}

.sidebar-main-div-global ul ul {
  display: block;
  margin-left: 5%;
}

.sidebar-main-div-global ul li {
  position: relative;
  margin-top: 0.2rem;
}

.sidebar-main-div-global ul li span {
  cursor: pointer;

  font-style: normal;
  line-height: normal;
}
/* .sidebar-main-div-global ul li span:hover {
  color: #009889;
} */
.flex-div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
  /* Aligns items to start and end of the flex container */
}

.flex-div span {
  align-self: flex-start;
  /* Aligns the span to the start of the flex container */
}

.flex-div button {
  align-self: flex-end;
  text-align: center; /* Aligns the button to the end of the flex container */
}

.extended-title {
  color: #009889;
  display: flex;
  align-self: center;
}
.sidebar-main-div-global li .line {
  stroke-width: 0.6px;
  stroke: #009889;
  width: 213.5px;
  height: 0px;
  flex-shrink: 0;
  margin-bottom: 1rem;
}
.extended-title .side {
  width: 6px;
  margin-left: -2rem;
  margin-right: 26px;
  border-radius: 0px 13px 16px 0px;
  background-color: #009889;
}
@media (max-height: 700px) {
  .sidebar-main-div-global {
    top: 40vh;
    max-height: 55vh;
  }
}
@media (max-height: 600px) {
  .sidebar-main-div-global {
    top: 45vh;
    max-height: 50vh;
  }
}
@media (max-height: 500px) {
  .sidebar-main-div-global {
    top: 50vh;
    max-height: 45vh;
  }
}
@media (max-width: 1600px) {
  .sidebar-main-div-global {
    padding: 1.7rem 0rem 1.7rem 0rem;
    width: 23%;
  }
  .sidebar-main-div-global ul li span {
    font-size: 17px;
  }
  .sidebar-main-div-global vl {
    padding-right: 1.7rem;
    padding-left: 1.7rem;
  }
  .extended-title .side {
    width: 6px;
    margin-left: -1.7rem;
    margin-right: 21.2px;
  }
}
@media (max-width: 1400px) {
  .sidebar-main-div-global ul li span {
    font-size: 15px;
  }
  .sidebar-main-div-global {
    padding: 1.5rem 0rem 1.5rem 0rem;
  }
  .sidebar-main-div-global vl {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
  }
  .extended-title .side {
    width: 6px;
    margin-left: -1.5rem;
    margin-right: 18px;
  }
}
@media (max-width: 1200px) {
  .sidebar-main-div-global {
    padding: 1.4rem 0rem 1.4rem 0rem;
    width: 26%;
  }
  .sidebar-main-div-global vl {
    padding-right: 1.4rem;
    padding-left: 1.4rem;
  }
  .extended-title .side {
    width: 6px;
    margin-left: -1.4rem;
    margin-right: 16.4px;
  }
}
@media (max-width: 1024px) {
  .sidebar-main-div-global {
    padding: 1.2rem 0rem 1.2rem 0rem;
    width: 30%;
  }
  .sidebar-main-div-global vl {
    padding-right: 1.2rem;
    padding-left: 1.2rem;
  }
  .sidebar-main-div-global ul li span {
    font-size: 13.5px;
  }
  .flex-div {
    margin-bottom: 0.1rem;
    /* Aligns items to start and end of the flex container */
  }
  .extended-title .side {
    width: 6px;
    margin-left: -1.2rem;
    margin-right: 13.2px;
  }
}
@media (max-width: 800px) {
  .sidebar-main-div-global {
    display: none;
  }
}
